{% extends 'base/base.html' %}
{% load static %}


{% block down_content %}
    <!-- MAIN -->
  <div class="max-w-[1440px] mx-auto px-3">
    <div class="bg-white shadow-xl my-5 lg:my-10 rounded-xl md:rounded-2xl p-3 md:p-5">
      <div class="flex flex-col md:flex-row gap-5">



        <!--  Right Side Profile -->
        {% block right_profile %}
        {% include 'accounts/plates/right-profile.html' %}
        {% endblock right_profile %}




        <div class="md:w-8/12 lg:w-9/12">
          <div class="border rounded-3xl shadow-lg flex flex-col p-5 gap-y-5">
            <div class="border-b pb-3">اطلاعات شخصی</div>
            <div class="flex border-b pb-2">
              <div class="w-1/2">
                <div class="text-xs opacity-80 mb-1">
                  نام و نام خانوادگی:
                </div>
                <div class="text-sm opacity-90">
                  {{user.first_name}} {{user.last_name}}
                </div>
              </div>
              <div class="w-1/2">
                <div class="text-xs opacity-80 mb-1">
                  ایمیل:
                </div>
                <div class="text-sm opacity-90">
                  {% if user.email %}
                    {{user.email}}
                  {% else %}
                    ندارد
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="flex border-b pb-2">
              <div class="w-1/2">
                <div class="text-xs opacity-80 mb-1">
                  شماره تلفن همراه:
                </div>
                <div class="text-sm opacity-90">
                  {{user.customer.phone_number}}
                </div>
              </div>
              <div class="w-1/2">
                <div class="text-xs opacity-80 mb-1">
                  تاریخ عضویت:
                </div>
                <div class="text-sm opacity-90">
                  {{user.customer.get_jalali_date}}
                </div>
              </div>
            </div>
            {% comment %} <div class="flex border-b pb-2">
              <div class="w-1/2">
                <div class="text-xs opacity-80 mb-1">
                  احراز هویت:
                </div>
                <div class="text-sm opacity-90">
                  خیر
                </div>
              </div>
              <div class="w-1/2">
                <div class="text-xs opacity-80 mb-1">
                  کدملی:
                </div>
                <div class="text-sm opacity-90">
                  0888888888
                </div>
              </div>
            </div> {% endcomment %}
            <span class="opacity-90">
              <a href="{% url 'edit-profile' %}" class="px-7 py-2 text-center text-white bg-red-500 align-middle border-0 rounded-lg shadow-md text-sm">ویرایش اطلاعات</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock down_content %}



{% block block_scripts %}

<script type="text/javascript" src=" {% static 'accounts/js/profile-page-actions.js' %} "></script>


{% endblock block_scripts %}
    