{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ثبت نام</title>

  <link rel="stylesheet" href="{% static 'base/css/output.css' %}" />
  <link rel="stylesheet" href="{% static 'base/css/font.css' %}">
  <style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  </style>
</head>
<body class="bg-gray-50">
  
  <div class="flex justify-center items-center text-right h-screen w-96 mx-auto pt-16">
    <div class="shadow-xl rounded-2xl p-8 bg-white mt-16">
      <form action="{% url 'users-site:register' %}" method="POST">
        {% csrf_token %}
        <div class="mb-2">
          <a href="{% url 'home-site:home' %}">
            <img src="{% static 'base//image/logo.png' %}" alt="" class="w-36 mx-auto">
          </a>
        </div>
        <div>
          {% if messages %}
            <ul>
              {% for message in messages %}
                <li>
                  <div class="text-center text-red-500 text-sm mb-2">
                    {{ message }}
                  </div>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="opacity-80 text-lg mb-5">
          ثبت نام
        </div>
        <div class="text-xs opacity-70 mb-2">
          نام کاربری(انگلیسی):
        </div>
        <div class="mb-2">
          <input class="w-full drop-shadow-lg outline-none rounded-2xl py-2 text-center" type="text" name="username">
        </div>
        <div class="text-xs opacity-70 mb-2">
          نام:
        </div>
        <div class="mb-2">
          <input class="w-full drop-shadow-lg outline-none rounded-2xl py-2 text-center" type="text" name="first_name">
        </div>
        <div class="text-xs opacity-70 mb-2">
          نام خانوادگی:
        </div>
        <div class="mb-2">
          <input class="w-full drop-shadow-lg outline-none rounded-2xl py-2 text-center" type="text" name="last_name">
        </div>
        <div class="text-xs opacity-70 mb-2">
          شماره همراه خود را وارد کنید:
        </div>
        <div class="mb-2">
          <input class="w-full drop-shadow-lg outline-none rounded-2xl py-2 text-center" type="text" name="phone_number">
        </div>
        <div class="text-xs opacity-70 mb-2">
          رمز عبور
        </div>
        <div class="mb-2">
          <input class="w-full drop-shadow-lg outline-none rounded-2xl py-2 text-center" type="password" name="password1">
        </div>
        <div class="text-xs opacity-70 mb-2">
          تکرار رمز عبور
        </div>
        <div class="mb-2">
          <input class="w-full drop-shadow-lg outline-none rounded-2xl py-2 text-center" type="password" name="password2">
        </div>
        <div class="text-center mt-5 mb-3">
          <button class="bg-red-500 hover:bg-red-600 transition text-white opacity-80 rounded-2xl w-full py-2" type="submit">
            ثبت نام
          </button>
        </div>
        <div class="text-xs opacity-80">
          ثبت نام یا ورود شما به منظور پذیرش
          <a href="#" class="text-red-500">قوانین و مقررات</a>
          نیلی طب می باشد
        </div> 
      </form>
    </div>
  </div>
</body>
</html>