{% load static %}
<span
  class="block relative"
  x-data="{showChildren:false}"
  @mouseenter="showChildren=true"
  @mouseleave="showChildren=false"
>
  {% if user.is_authenticated %}
  <a
    href=""
    class="flex items-center h-10 leading-10 px-3 mx-1 transition rounded-xl hover:bg-red-50"
  >
    <img class="ml-1 w-6" src=" {% static 'base/image/user.png' %} " alt="" />
    <span class="text-sm opacity-95">{{ user.first_name}} {{ user.last_name}}</span>
    <span>
      <img
        class="w-4 mr-1"
        src=" {% static 'base/image/chevron-down-login.png' %} "
        alt=""
      />
    </span>
  </a>
  <div
    class="bg-white rounded-2xl shadow-md border-gray-50 text-sm absolute top-auto right-0 w-64 z-30 mt-1"
    x-show="showChildren"
    x-transition:enter="transition ease duration-300 transform"
    x-transition:enter-start="opacity-0 translate-y-2"
    x-transition:enter-end="opacity-100 translate-y-0"
    x-transition:leave="transition ease duration-300 transform"
    x-transition:leave-start="opacity-100 translate-y-0"
    x-transition:leave-end="opacity-0 translate-y-4"
    style="display: none"
    @mouseenter="showChildren=true"
    @mouseleave="showChildren=false"
  >
    <div class="bg-white rounded-2xl w-full relative z-10 py-2 px-2">
      <ul class="list-reset">
        <li
          class="relative border-b-2 border-red-300 pb-2"
          x-data="{showChildren:false}"
          @mouseleave="showChildren=false"
          @mouseenter="showChildren=true"
        >
          <a
            {% comment %} href="{% url 'profile' %}" {% endcomment %}
            class="px-2 py-2 flex w-full items-start hover:bg-red-50 rounded-xl"
          > 
            <span class="flex justify-center items-center opacity-90"
              ><img
                class="w-8 ml-2"
                src="{% static 'base/image/userNotImage.png' %}"
                alt=""
              />{{ user.first_name}} {{ user.last_name}}</span
            >
          </a>
        </li>
        {% comment %} <li
          class="relative pt-2"
          x-data="{showChildren:false}"
          @mouseleave="showChildren=false"
          @mouseenter="showChildren=true"
        >
          <a
            href="./profile-order.html"
            class="px-4 py-2 flex w-full items-start hover:bg-red-50 rounded-xl"
          >
            <span class="flex justify-center items-center text-sm opacity-90"
              ><img
                class="w-5 ml-1"
                src=" {% static 'base/image/package.png' %} "
                alt=""
              />سفارش ها</span
            >
          </a>
        </li>
        <li
          class="relative"
          x-data="{showChildren:false}"
          @mouseleave="showChildren=false"
          @mouseenter="showChildren=true"
        >
          <a
            href="./profile-favorites.html"
            class="px-4 py-2 flex w-full items-start hover:bg-red-50 rounded-xl"
          >
            <span class="flex justify-center items-center text-sm opacity-90"
              ><img
                class="w-5 ml-1"
                src=" {% static 'base/image/heart.png' %} "
                alt=""
              />علاقه مندی ها</span
            >
          </a>
        </li> {% endcomment %}
        <li
          class="relative"
          x-data="{showChildren:false}"
          @mouseleave="showChildren=false"
          @mouseenter="showChildren=true"
        >
          <a
             href="{% url 'users-site:logout'%}" 
            class="px-4 py-2 flex w-full items-start hover:bg-red-50 rounded-xl"
          >
            <span class="flex justify-center items-center text-sm opacity-90"
              ><img
                class="w-5 ml-1"
                src=" {% static 'base/image/exit.png' %} "
                alt=""
              />خروج از حساب کاربری</span
            >
          </a>
        </li>
      </ul>
    </div>
  </div>
  {% else %}
  <a
    href="{% url 'users-site:login'%}" 
    class="flex items-center h-10 leading-10 px-3 mx-1 transition rounded-xl hover:bg-red-50"
  >
    <img class="ml-1 w-6" src=" {% static 'base/image/user.png' %} " alt="" />
    <span class="text-sm opacity-95"> ورود | ثبت نام </span>
    
  </a>
  
  {% endif %}
</span>
