{% load static %}
{% block mobile_navbar %}
<div class="navbar-menu relative z-50 hidden">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
    <nav
      class="fixed top-0 right-0 bottom-0 flex flex-col w-5/6 max-w-sm py-5 px-6 bg-white border-r overflow-y-auto">
      <div class="flex justify-center items-center mb-4">
        <a class="order-1" 
        {% comment %} href="{% url 'index' %}" {% endcomment %}
        >
          <img class="w-32" src="{% static 'base/image/logo.png' %}" alt="" />
        </a>
      </div>
      <div>
        <ul class="space-y-3">
          <li class="border-b">
            <div class="mt-0 mb-3 text-center space-y-5">
              <div>
                <div
                  class="md:flex justify-center align-middle lg:inline-block py-2 px-4 text-sm text-neutral-800 rounded-xl hover:text-neutral-700 hover:bg-red-100 transition">
                  <a
                   {% comment %} href="{% url 'cart_summary' %}" {% endcomment %}
                   >
                    <img
                      class="inline ml-1 w-5"
                      src="{% static 'base/image/shopping-cart.png' %}"
                      alt="" />سبد خرید</a
                  >
                </div>
                {% if user.is_authenticated %}
                <div
                class="md:flex justify-center align-middle lg:inline-block py-2 px-4 text-sm text-neutral-800 rounded-xl hover:text-neutral-700 hover:bg-red-100 transition">
                <a
                 {% comment %} href="{% url 'profile' %}" {% endcomment %}
                  ><img
                    class="inline ml-1 w-5"
                    src="{% static 'base/image/user.png' %}"
                    alt="" />
                      {{user.first_name}} {{user.last_name}}
                    </a
                >
              </div>
                {% else %}
                <div
                  class="md:flex justify-center align-middle lg:inline-block py-2 px-4 text-sm text-neutral-800 rounded-xl hover:text-neutral-700 hover:bg-red-100 transition">
                  <a
                   {% comment %} href="{% url 'login' %}" {% endcomment %}
                    ><img
                      class="inline ml-1 w-5"
                      src="{% static 'base/image/user.png' %}"
                      alt="" />ورود | ثبت نام</a
                  >
                </div>
                {% endif %}
                
              </div>
            </div>
          </li>
          {% if sub_categories %} {% for sub_category in sub_categories %}
          <li
            class="relative flex"
            x-data="{showChildren:false}"
            @click.away="showChildren=false">
            <a
              href="./category-index.html"
              class="flex justify-between items-center h-10 leading-10 text-sm opacity-90 px-3 cursor-pointer no-underline w-full hover:no-underline duration-100 mx-1 transition rounded-xl hover:bg-red-100"
              @click.prevent="showChildren=!showChildren">
              <span>{{ sub_category }}</span>
              <span>
                <img class="w-4 mr-1" src="{% static 'base/image/chevron-down-login.png' %}" alt="" />
              </span>
            </a>
            <div
              class="bg-white rounded-2xl shadow-lg border-1 border-gray-50 text-sm absolute top-full right-0 min-w-full w-56 z-30 mt-1"
              x-show="showChildren"
              x-transition:enter="transition ease duration-300 transform"
              x-transition:enter-start="opacity-0 translate-y-2"
              x-transition:enter-end="opacity-100 translate-y-0"
              x-transition:leave="transition ease duration-300 transform"
              x-transition:leave-start="opacity-100 translate-y-0"
              x-transition:leave-end="opacity-0 translate-y-4"
              style="display: none">
              </span>
              <div
                class="bg-white rounded-2xl w-full relative z-10 py-2 px-2">
                <ul class="list-reset">
                  {% for category in sub_category.p_category.all %}
                  <li
                    class="relative"
                    x-data="{showChildren:false}"
                    @mouseleave="showChildren=false"
                    @mouseenter="showChildren=true">
                    <a
                      {% comment %} href="{% url 'product-category' category.id %}" {% endcomment %}
                      class="px-4 py-2 flex w-full items-start hover:bg-red-100 rounded-lg transition no-underline hover:no-underline duration-100 cursor-pointer">
                      <span class="flex-1">{{ category }}</span>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </li>
          {% endfor %} 
          {% endif %}
          
          
          
          
          
          
        </ul>
      </div>
    </nav>
  </div>

{% endblock mobile_navbar %}