{% load static %}
<div>
  <div
    class="grid grid-cols-2 md:grid-cols-4 gap-y-5 gap-x-10 justify-items-center mb-10"
  >
    <div
      class="flex justify-center items-center flex-col rounded-3xl w-32 h-24"
    >
      <img
        class="w-20"
        src="{% static 'base/image/services/nili_teb_natural_healthy.svg' %}"
        alt=""
      />
      <span class="text-sm opacity-80"> طبیعی و سالم </span>
    </div> 
     <div
      class="flex justify-center items-center flex-col rounded-3xl w-32 h-24"
    >
      <img
        class="w-20"
        src="{% static 'base/image/services/nili_teb_suitable_packaging.svg' %}"
        alt=""
      />
      <span class="text-sm opacity-80"> بسته بندی مناسب </span>
    </div>
    <div
      class="flex justify-center items-center flex-col rounded-3xl w-32 h-24"
    >
      <img
        class="w-20"
        src="{% static 'base/image/services/nili_teb_fast_delivery.svg' %}"
        alt=""
      />
      <span class="text-sm opacity-80"> تحویل سریع </span>
    </div>
    <div
      class="flex justify-center items-center flex-col rounded-3xl w-32 h-24"
    >
      <img
        class="w-20"
        src="{% static 'base/image/services/nili_teb_special_discount.svg' %}"
        alt=""
      />
      <span class="text-sm opacity-80"> تخفیف ویژه </span>
    </div>
  </div>
</div>
