{% load static %}
<div>
  <div
    class="grid grid-cols-2 md:grid-cols-4 gap-y-5 gap-x-10 justify-items-center mb-10"
  >
    {% comment %} <div
      class="flex justify-center items-center flex-col rounded-3xl w-32 h-24"
    >
      <img
        class="w-20"
        src="{% static 'base/image/services/cash-on-delivery.svg' %}"
        alt=""
      />
      <span class="text-sm opacity-80"> پرداخت درب منزل </span>
    </div> {% endcomment %}
    {% comment %} <div
      class="flex justify-center items-center flex-col rounded-3xl w-32 h-24"
    >
      <img
        class="w-20"
        src="{% static 'base/image/services/days-return.svg' %}"
        alt=""
      />
      <span class="text-sm opacity-80"> ضمانت بازگشت کالا </span>
    </div> {% endcomment %}
    <div
      class="flex justify-center items-center flex-col rounded-3xl w-32 h-24"
    >
      <img
        class="w-20"
        src="{% static 'base/image/services/express-delivery.svg' %}"
        alt=""
      />
      <span class="text-sm opacity-80"> تحویل سریع </span>
    </div>
    <div
      class="flex justify-center items-center flex-col rounded-3xl w-32 h-24"
    >
      <img
        class="w-20"
        src="{% static 'base/image/services/original-products.svg' %}"
        alt=""
      />
      <span class="text-sm opacity-80"> ضمانت اصل بودن </span>
    </div>
  </div>
</div>
