{% extends 'base/base.html' %}
{% load static %}


{% block down_content %}
  <div class="max-w-[1440px] mx-auto px-3">
    <div class="bg-white shadow-xl my-5 lg:my-10 rounded-xl md:rounded-2xl p-3 md:p-5">
      {% comment %} <div class="flex flex-col md:flex-row gap-y-3 items-center gap-x-2 mb-7">
        <div class="text-sm opacity-80">
          کد تخفیف دارید؟ وارد کنید:
        </div>
        <div>
          <input class="border border-gray-400 outline-none focus:border-red-300 rounded-lg p-1" type="text">
        </div>
        <div>
          <button class="bg-red-600 text-white px-3 py-1 rounded-lg shadow-md">
            تایید
          </button>
        </div>
      </div> {% endcomment %}
      <div>
        <div class="text-lg md:text-xl opacity-70 mb-3">
          جزئیات صورت حساب
        </div>
        <form action="{% url 'checkout' %}" method="POST">
          {% csrf_token %}

          <div class="grid grid-cols-1 md:grid-cols-2 gap-5 px-5 md:px-20">
            <div class="mb-4">
              <label for="username" class="inline-block mb-2 ml-1 font-semibold text-xs text-slate-700">نام تحویل گیرنده:</label>
              <input name="first_name" type="text" class="text-sm block w-full rounded-lg border border-gray-400 bg-white px-3 py-2 font-normal text-gray-700 outline-none focus:border-red-300"/>
            </div>
            <div class="mb-4">
              <label for="username" class="inline-block mb-2 ml-1 font-semibold text-xs text-slate-700">نام خانوادگی تحویل گیرنده:</label>
              <input name="last_name" type="text" class="text-sm block w-full rounded-lg border border-gray-400 bg-white px-3 py-2 font-normal text-gray-700 outline-none focus:border-red-300"/>
            </div>
            <div class="mb-4">
              <label for="username" class="inline-block mb-2 ml-1 font-semibold text-xs text-slate-700">کد ملی:</label>
              <input name="national_code"type="text" class="text-sm block w-full rounded-lg border border-gray-400 bg-white px-3 py-2 font-normal text-gray-700 outline-none focus:border-red-300"/>
            </div>
            <div class="mb-4">
              <label for="username" class="inline-block mb-2 ml-1 font-semibold text-xs text-slate-700">شماره موبایل:</label>
              <input name="phone_number"type="text" class="text-sm block w-full rounded-lg border border-gray-400 bg-white px-3 py-2 font-normal text-gray-700 outline-none focus:border-red-300"/>
            </div>
            <div class="mb-4">
              <label for="username" class="inline-block mb-2 ml-1 font-semibold text-xs text-slate-700">آدرس:</label>
              <input name="address"type="text" class="text-sm block w-full rounded-lg border border-gray-400 bg-white px-3 py-2 font-normal text-gray-700 outline-none focus:border-red-300"/>
            </div>
            <div class="mb-4">
              <label for="username" class="inline-block mb-2 ml-1 font-semibold text-xs text-slate-700">کدپستی:</label>
              <input name="postal_code" type="text" class="text-sm block w-full rounded-lg border border-gray-400 bg-white px-3 py-2 font-normal text-gray-700 outline-none focus:border-red-300"/>
            </div>
            <div class="mb-4">
              <label for="mailTicket" class="inline-block mb-2 ml-1 font-semibold text-xs text-slate-700">توضیحات اضافه:</label>
              <textarea name="descripton" cols="30" rows="5" class="text-sm block w-full rounded-lg border border-gray-400 bg-white px-3 py-2 font-normal text-gray-700 outline-none focus:border-red-300"></textarea>
            </div>
          </div>
          <div>
            <div class="text-lg md:text-xl opacity-70 mb-3 mt-5">
              جزئیات محصولات
            </div>
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 lg:px-16">
              {% for product in cart_products %}
              
              <span class="card swiper-slide my-2 p-2 md:p-3 ">
                <div class="image-box mb-6 ">
                  <a href="{% url 'product' product.id %}">
                    <div class="image-box sm:mb-6">
                    <img class="hover:scale-105 transition rounded-3xl w-full mx-auto" src="{{ product.images.all.0.image.url }}" alt="تصویر محصول" />
                    </div>
                  </a>
                </div>
                <div class="space-y-3 text-center">
                  <span class="text-sm opacity-80 mb-2 h-8 md:h-10">
                    <a href="{% url 'product' product.id %}">
                      {{product.category}}
                      {% if product.model is not None %}
                        {{ product.model }}
                      {% endif %}
                    {{ product.company_name}}
                    </a>
                  </span>
    
    
                  {% if product.is_offer %}
                    <div class="flex justify-end mb-2 text-sm opacity-80 pl-3 md:pl-0">
                      <div>{{ product.offer_price }}</div>
                      <div>تومان</div>
                    </div>
                    <div class="flex justify-end text-xs opacity-75 pl-3 md:pl-0">
                      
                      <div class="line-through">{{product.price}}</div>
                      <div class="line-through">تومان</div>
                    </div>
                    {% else %}
                    <div class="flex justify-end mb-2 text-sm opacity-80 pl-3 md:pl-0">
                      <div>{{ product.price }}</div>
                      <div>تومان</div>
                    </div>
                    
                    <div class="flex justify-end text-xs opacity-75 pl-3 md:pl-0">
                      <div class="">تخفیف ندارد</div>
                    </div>
                    
                    
                  {% endif %}
    
    
    
                </div>
              </span>
              {% endfor %}
    
    
    
    
    
    
    
    
            </div>
          </div>
          <div class="border shadow-xl rounded-2xl mx-auto max-w-xl mt-7 flex flex-col gap-y-5 py-5 px-5 md:px-20">
            <div class="flex justify-between">
              <div>
                قیمت کل:
              </div>
              <div class="flex gap-x-1">
                <div>
                  {{ totals }}
                </div>
                <div>
                  تومان
                </div>
              </div>
            </div>
            {% comment %} <div class="flex justify-between">
              <div>
                حمل و نقل:
              </div>
              <div class="flex gap-x-1">
                <div>
                  40,000
                </div>
                <div>
                  تومان
                </div>
              </div>
            </div> {% endcomment %}
            {% comment %} <div class="flex justify-between">
              <div>
                سود شما از این خرید:
              </div>
              <div class="flex gap-x-1">
                <div>
                  80,000
                </div>
                <div>
                  تومان
                </div>
              </div>
            </div> {% endcomment %}
            {% comment %} <div class="flex justify-between">
              <div class="text-red-600">
                مجموع نهایی:
              </div>
              <div class="flex gap-x-1">
                <div>
                  1,200,000
                </div>
                <div>
                  تومان
                </div>
              </div>
            </div> {% endcomment %}
          </div>
          <div class="flex justify-center items-center opacity-90 my-5">
            <button class="px-7 py-2 text-center text-white bg-red-500 align-middle border-0 rounded-lg shadow-md text-sm">ثبت و پرداخت</button>
          </div>
          </div>
        </div>
        </form>
      </div>
      
{% endblock down_content %}

{% block block_scripts %}
  <!--MOBILE NAVBAR-->
  {% comment %} <script src="./assets/js/navbar.js"></script> {% endcomment %}
  <!-- SHOW MODAL SEARCH -->
  {% comment %} <script src="./assets/js/searchBox.js"></script> {% endcomment %}
  <script type="text/javascript" src="{% static 'carts/js/cart-checkout.js' %}"></script>
{% endblock block_scripts %}