{% load static %}
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5">
  <a href="./search.html">
    <img
      class="rounded-xl"
      src="{% static 'base/image/fourImage/1.jpg' %}"
      alt=""
    />
  </a>
  <a href="./search.html">
    <img
      class="rounded-xl"
      src="{% static 'base/image/fourImage/2.jpg' %}"
      alt=""
    />
  </a>
  <a href="./search.html">
    <img
      class="rounded-xl"
      src="{% static 'base/image/fourImage/3.jpg' %}"
      alt=""
    />
  </a>
  <a href="./search.html">
    <img
      class="rounded-xl"
      src="{% static 'base/image/fourImage/4.jpg' %}"
      alt=""
    />
  </a>
</div>
