{% load static %}
{% if products %}
    
    {% for product in products %}
    <a
    href="{% url 'product' product.id %}"
    class="my-2 py-2 md:p-3 border rounded-xl flex items-center sm:inline hover:shadow-lg transition"
  >
    <div class="image-box sm:mb-6">
      <div>
        <img
          class="hover:scale-105 transition rounded-md sm:rounded-3xl w-24 sm:w-full mx-auto"
          src="{{ product.images.all.0.image.url }}"
          alt="تصویر محصول"
        />
      </div>
    </div>
    <div class="flex flex-col w-full">
      <span class="text-xs sm:text-sm opacity-90 mb-5">
        <div class="leading-7 h-auto">
          {{ product.category}}
          {% if product.model is not None %}
          
          {{ product.model}}
          {% endif %}
          
          {{ product.company_name}}
        </div>
      </span>
      {% if product.is_offer %}
      <div class="flex justify-end mb-2 text-sm opacity-80 pl-3 md:pl-0">
        <div>{{ product.offer_price }}</div>
        <div>تومان</div>
      </div>
      <div class="flex justify-end text-xs opacity-75 pl-3 md:pl-0">
        
        <div class="line-through">{{product.price}}</div>
        <div class="line-through">تومان</div>
      </div>
      {% else %}
      <div class="flex justify-end mb-2 text-sm opacity-80 pl-3 md:pl-0">
        <div>{{ product.price }}</div>
        <div>تومان</div>
      </div>
      
      <div class="flex justify-end text-xs opacity-75 pl-3 md:pl-0">
        <div class="line-through">&nbsp</div>
        <div class="line-through">&nbsp</div>
      </div>
      
      
      {% endif %}
      <br>
      {% comment %} <span class="flex justify-center items-center opacity-90">
        <button class="px-7 py-2 text-center text-white bg-red-500 align-middle border-0 rounded-lg shadow-md text-sm">افزودن به سبد</button>
      </span> {% endcomment %}
    </div>
  </a>
  
        
    {% endfor %}
        


{% endif %}

